

body{
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background-color: #e9eef3;
    background-image: linear-gradient(62deg, #e9eef3 0%, #e3dbe5 100%);
    font-family: Poppins;
}

.nav1{
    margin-left: 380px;
}


h3{
    font-weight: 200;
    color: rgb(161, 37, 37);
    font-family: Poppins;
    
}

.txt{
    font-weight: 200;
    font-size: 25px;
}