*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --offcanvas_width: 270px;
    --topNavbarHeight: 56px
}

.side-bar{
    max-width: var(--offcanvas_width);
    --bs-offcanvas-bg: rgb(11 11 11);
    color: white;
    /* visibility: visible !important;
    transform: none; */
}
.side-bar a:hover{
    color: rgb(230, 68, 68);
}

.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline;
}
.offcanvas{
    visibility: visible;
}
.side1{
    list-style-type: none;
    padding-left: 0rem;
}
.card-body1{
    width: 300px;
}
.btn1{
    margin-left: 1150px;
}
@media (min-width: 992px) {
    .offcanvas{
        transform: none;
        visibility: visible !important;
        /* margin-top: var(--topNavbarHeight); */
        /* height: calc(100% - var(--topNavbarHeight)); */
        /* background-color: aqua; */
    }    
}

