<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>C2C</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load static %}
  <link href="{% static 'css/activity_replit.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav class="navbar">
    <div class="navimg">
      <img src="{% static '/img/navimage.svg' %}" alt="" class="img-fluid">
      <!-- <img src='..static/img/navimage.svg' alt="" class="img-fluid"> -->
    </div>
  </nav>

  <section class="showcase">
    <div class="d-md-flex align-item-center justify-content-between p-5">
      <div class="showcase-text my-5 m-5 slide-in-left">
        <h1>This is <span class="text-light">AgriNet</span>.</h1>
        <p class="lead">
          AgriNet is a web portal which connects the colleges' training & placement cells to the companies for campus
          hiring.
        </p>
        <button class="btn-success login-button">Login/Register</button>
      </div>
      <!-- <img src="..static/img/showcase.svg" alt="" class="img-fluid  d-none d-sm-block show_img"> -->
      <img src="{% static 'img/showcase.svg' %}" alt="" class="img-fluid  d-none d-sm-block show_img">
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>